#footer {
	font-size: 12px;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	text-shadow: 0 1px #fff;
	position: absolute;
	bottom: 30px;
	opacity: 0.6;
	width: 100%;
	text-align: center;
	.outer{
		padding: 0 30px;
	}
}
.footer-left{
  float: initial;
  float: left;
}
.footer-right{
  float: initial;
  float: right;
}

#container .visit {
  margin-top: 1em;
}
